<div id="bar">
	<a href="{{ siteurl }}"><svg id="logo" width="30px" height="30px" viewBox="0 0 230 230" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><path d="M115.226,0.539c0.75,0.01 1.498,0.047 2.245,0.121c1.619,0.161 3.223,0.48 4.78,0.952c2.232,0.677 4.368,1.667 6.326,2.934c2.022,1.307 3.852,2.908 5.418,4.737c0.963,1.126 1.826,2.337 2.575,3.615c0.373,0.638 0.716,1.293 1.034,1.96l90.967,193.214c0.376,0.88 0.495,1.092 0.775,2.009c0.42,1.374 0.64,2.807 0.653,4.244c0.013,1.436 -0.181,2.874 -0.575,4.255c-0.592,2.073 -1.635,4.012 -3.039,5.648c-1.404,1.637 -3.161,2.962 -5.12,3.863c-1.305,0.6 -2.696,1.011 -4.118,1.216c-0.948,0.138 -1.191,0.12 -2.147,0.155l-200,0c-0.956,-0.035 -1.199,-0.017 -2.147,-0.155c-1.422,-0.205 -2.813,-0.616 -4.118,-1.216c-1.305,-0.6 -2.523,-1.389 -3.605,-2.334c-1.624,-1.419 -2.933,-3.187 -3.816,-5.155c-0.882,-1.967 -1.333,-4.121 -1.313,-6.277c0.013,-1.437 0.233,-2.87 0.653,-4.244c0.28,-0.917 0.399,-1.129 0.775,-2.009c30.35,-64.462 60.406,-129.064 91.05,-193.387c0.295,-0.607 0.61,-1.204 0.951,-1.787c0.749,-1.278 1.612,-2.489 2.575,-3.615c1.566,-1.829 3.396,-3.43 5.418,-4.737c2.02,-1.307 4.229,-2.319 6.537,-2.997c1.491,-0.437 3.023,-0.735 4.569,-0.889c0.747,-0.074 1.495,-0.111 2.245,-0.121c0.226,-0.001 0.226,-0.001 0.452,0Zm-76.585,198.923l152.718,0l-76.359,-162.186c-25.453,54.062 -50.906,108.124 -76.359,162.186Z" style="fill-rule:nonzero;"/></svg></a>
	<ul id="breadcrumbs">
		{{ #path }}	{{ ! don't show on homepage }}
			{{ #breadcrumbs }}
				<li><a href="{{ siteurl }}/{{ path }}">{{ title }}</a><span class="divider">/</span></li>
			{{ /breadcrumbs }}
			<li class="current">{{ title }}</li>
		{{ /path }}
	</ul>
	<div id="dark-toggle"></div>
</div>