<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="robots" content="index,follow">
	<meta name="generator" content="{{ generatorname }}">
	<link rel="icon" href="{{ siteurl }}/assets/favicon/16.png" sizes="16x16" type="image/png">
	<link rel="icon" href="{{ siteurl }}/assets/favicon/32.png" sizes="32x32" type="image/png">
	<link rel="icon" href="{{ siteurl }}/assets/favicon/48.png" sizes="48x48" type="image/png">
	<link rel="icon" href="{{ siteurl }}/assets/favicon/62.png" sizes="62x62" type="image/png">
	<title>{{ sitename }} | {{ title }}</title>
	<link rel="stylesheet" type="text/css" href="{{siteurl}}/assets/css/cadet.css">
	{{^productionBuild}}
	<script src="http://localhost:35729/livereload.js"></script>
	{{/productionBuild}}
</head>
<body>
	<script>
	var dark = !(document.cookie.replace(/(?:(?:^|.*;\s*)dark\s*\=\s*([^;]*).*$)|^.*$/, "$1") == "true");
	toggleDark();
	function toggleDark(){
		dark = !dark;
		if(dark){
			document.body.className += " inv";
			document.cookie = "dark=true;path=/;expires=Fri, 31 Dec 9999 23:59:59 GMT";
		} else {
			document.body.className = document.body.className.replace("inv", "");
			document.cookie = "dark=false;path=/;expires=Thu, 01 Jan 1970 00:00:00 GMT";
		}
	}
	window.onload = function(){ document.getElementById("dark-toggle").onclick = toggleDark; }
	</script>
	{{ > bar }}
	<div id="container">