// cadet color scheme
$base00: #2f3636;
$base01: #3a3a3b;
$base02: #4a4a4a;
$base03: #5d616a;
$base04: #61666f;
$base05: #99999d;
$base06: #eceff4;
$base07: #f6f6f5;
$base08: #dc5050;
$base09: #de935f;
$base0A: #f0c674;
$base0B: #86b361;
$base0C: #58ba83;
$base0D: #6ea2ce;
$base0E: #b98bd6;
$base0F: #aa7f65;

$bg:        $base00;
$status:    $base01;
$selection: $base02;
$comments:  $base03;
$fg-dark:   $base04;
$fg-status: $base04;
$fg:        $base05;
$fg-light:  $base06;
$bg-light:  $base07;
$red:       $base08;
$orange:    $base09;
$yellow:    $base0A;
$green:     $base0B;
$cyan:      $base0C;
$blue:      $base0D;
$purple:    $base0E;
$brown:     $base0F;
$white:     $base07;
$black:     $base00;