@font-face{ 
	font-family: 'Mplus 2p';
	src: url('../fonts/mplus-2p-regular.eot');
	src: url('../fonts/mplus-2p-regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/mplus-2p-regular.woff') format('woff'),
		 url('../fonts/mplus-2p-regular.ttf') format('truetype');
}
@font-face{ 
	font-family: 'Mplus 1m';
	src: url('../fonts/mplus-1m-regular.eot');
	src: url('../fonts/mplus-1m-regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/mplus-1m-regular.woff') format('woff'),
		 url('../fonts/mplus-1m-regular.ttf') format('truetype');
}