@import "colors";
@import "fonts";

@mixin fades {
	transition: background-color 0.5s, color 0.5s, border-color 0.5s;
}

// RESET
* {
	margin: 0;
	padding: 0;
}

body {
	color: $black;
	background-color: $white;
	padding: 3rem 6rem;
	font-family: "Mplus 2p";
	line-height: 1.4;
	animation-name: fadein;
	animation-duration: 1s;
}
@keyframes fadein {
	from { opacity: 0; }
	to { opacity: 1; }
}
p { margin-bottom: 1rem; }
h1 { margin-bottom: 1.2rem; }
h2 { margin-bottom: 0.8rem; margin-top: 1rem; }
a {
	text-decoration: none;
	color: $base0D;
	transition: color 0.4s;

	&:visited {
		color: $purple;
	}
	&:hover {
		text-decoration: underline;
		color: $base0C;
	}
}
ul, ol {
	margin-left: 2rem;
}
table {
	border-collapse: collapse;
	margin: 0.5rem 0;
	thead {
		background-color: $base06;
		border-bottom: 1px solid mix($base06, $base05);
	}
	td, th {
		padding: 0.6rem 1rem;
	}
	tr:nth-of-type(2n){
		background-color: darken($base07, 2%);
	}
}
code {
	font-family: "Mplus 1m";
	background-color: darken($base06, 4%);
	padding: 0.25rem;
	border-radius: 4px;
	color: darken($base05, 10%);
	display: inline-block;
}
pre code { 
	width: 100%;
	padding: 1.5rem;
	box-sizing: border-box;
}
blockquote {
	background-color: $base06;
	margin-left: 0;
	padding: 1rem;
	margin: 1rem 0;
	& *:last-child {
		margin-bottom: 0;
		padding-bottom: 0;
	}
}

#container {
	max-width: 700px;
	margin: auto;
}

svg#logo {
	fill: $black;
	position: relative;
	top: 10px;
}

a.button {
	padding: 0.25rem 0.5rem;
	border: 1px solid $base05;
	border-radius: 4px;
	background-color: darken($bg-light, 4%);
	font-size: 0.8rem;
	color: $black;
	font-weight: bold;

	&:hover {
		background-color: darken($bg-light, 2%);
	}
}

hr {
	border: none;
	border-top: 1px solid lighten($fg, 15%);
	padding-bottom: 1px;
	margin: 1.5rem auto;
	width: 60%;
}

.card {
	background-color: darken($white, 2%);
	border: 1px solid lighten($fg, 15%);
	border-radius: 4px;
	padding: 1rem;
	text-align: center;
	display: inline-block;
	color: $black;

	.name { font-weight: bold; }
	.description { font-size: 0.8rem; }

	&:hover {
		background-color: darken($white, 1%);
	}
}

#bar {
	margin: 2rem 0;

	#breadcrumbs {
		margin-left: 2rem;
		padding-left: 0;
		display: inline-block;

		li {
			display: inline-block;
			.divider {
				padding: 0 6px;
				color: lighten($base05, 20%);
			}
			&.current {
				font-weight: bold;
			}
		}	

		a {
			color: $base05;
		}
	}

	#dark-toggle {
		width: 20px;
		height: 20px;
		background-color: $base00;
		margin-top: 9px;
		margin-right: 20px;
		border-radius: 50%;
		float: right;

		&:hover {
			border: 3px solid darken($base07, 30%);
			cursor: pointer;
			margin-right: 18px;
			margin-top: 7px;
		}
	}
}

body.inv {
	color: $white;
	background-color: $black;

	table {
		thead {
			background-color: $base02;
			border-bottom: mix($base02, $base03);
		}
		tr:nth-of-type(2n){
			background-color: lighten($base00, 2%);
		}	
	}
	code {
		background-color: $base02;
		color: $fg;
	}
	blockquote { background-color: $base02; }

	.card {
		background-color: darken($black, 2%);
		&:hover { background-color: darken($black, 1%); }
		color: $white;
		border: 1px solid lighten($black, 15%);
	}

	#bar {
		#dark-toggle {
			background-color: darken($base07, 10%);

			&:hover {
				border: 3px solid lighten($base00, 30%);
			}
		}
	}

	img {
		// temporary until I can get svg loading inline
		filter: #{ "invert(100%)" };
	}

	svg#logo { fill: $white; }
}

@media all and (max-width: 55em){
	body {
		padding: 1rem 2rem;
	}
}