{{ > header }}

{{#ancestry.members}}
	{{#logo}}
		<a href="{{ siteurl }}/{{ path }}">
			<div class="card">
				<img src="{{ siteurl }}/assets/{{ logo }}" width="200px" height="200px">
				<div class="name">{{ title }}</div>
				<div class="description">{{ description }}</div>
			</div>
		</a>
	{{/logo}}
{{/ancestry.members}}

{{ > footer }}